header{
    background-color: #0021b3;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 15px;
    padding: 5px;
}

h1{
    border-bottom: 1.5px solid #12529c;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.table1 th {
    background-color : #12529c;
    color: #fff;
    text-align:right;
    width: 100px;
    font-size: 12px;
    padding: 15px;
    line-height : 1;
    height : 1em;
}

.table1 td {
    background-color: rgb(248, 242, 242);
    text-align:left;
    width: 150px;
    font-size: 12px;
    padding: 15px;
    line-height : 1;
    height : 1em;
}

.table2 {
    width: 100%;
}

.table2 th {
    background-color : #0d6ca3;
    color: #fff;
    line-height : 1;
    height : 1em;
}

.table2 tr:nth-child(odd) td {
    background-color: rgb(248, 242, 242);
    line-height : 1;
    height : 1em;
}

